Basic auth credentials:
<br />

<label for="login">
  Login
</label>
<Input data-test-login-input @value={{this.login}} @type="string" id="login" />
<label for="password">
  Password
</label>
<Input
  data-test-password-input
  @value={{this.password}}
  @type="password"
  id="password"
/>
<button
  data-test-sign-in-button
  type="button"
  {{on "click" (fn this.signIn this.login this.password)}}
>
  Sign in
</button>
